@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

:root {
	--app-bg: Canvas;
	--app-fg: CanvasText;
	--key-text-fill: CanvasText;
	--key-shape-fill: Field;
	--key-default-brightness: 1;
	--key-hover-brightness: 1.6;
	--key-active-brightness: 1.8;
}

@media (prefers-color-scheme: light) {
	:root {
		--key-text-fill: CanvasText;
		--key-shape-fill: ButtonFace;
		--key-default-brightness: 0.9;
		--key-hover-brightness: 0.95;
		--key-active-brightness: 1;
	}
}

@font-face {
	font-family: 'MS Gothic';
	src: url('/fonts/MS-Gothic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	background-color: var(--app-bg);
	color: var(--app-fg);
	color-scheme: light dark;
}

main {
	flex: 1;
}

#antenna {
	width: 22px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 16px;
	padding-right: 140px;
	display: block;
}

.antenna-shape {
	fill: var(--key-shape-fill);
	filter: brightness(var(--key-default-brightness));
	scale: 0.9 1;
}

#screen {
	min-width: 240px;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 10px;
}

#game {
	min-height: 240px;
	background-color: black;
}

#soft-labels {
	background-color: var(--key-shape-fill);
	filter: brightness(var(--key-default-brightness));
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20px;
	padding: 0 20px;
	margin: auto;
	font-family: 'Geo', sans-serif;
	font-size: 14px;
	user-select: none;
}

#soft-labels * {
	opacity: 0.85;
}

#soft-keys > p {
	margin: 0;
}

#keypad {
	width: 200px;
	margin: 0 auto;
	display: block;
}

.key-text {
	fill: var(--key-text-fill);
}

.key-shape {
	fill: var(--key-shape-fill);
}

.key-group {
	cursor: pointer;
	filter: brightness(var(--key-default-brightness));
}

.key-group:hover {
	filter: brightness(var(--key-hover-brightness));
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

@media (pointer: coarse) {
	.key-group:hover,
	.key-group:focus {
		filter: none;
		outline: none !important;
	}
}

.key-group.pressed {
	filter: brightness(var(--key-active-brightness));
	transform: translateY(2px);
}

footer {
	filter: brightness(var(--key-active-brightness));
	align-self: flex-end;
	width: 100%;
	align-self: flex-end;
	text-align: center;
	font-size: small;
	color: var(--key-shape-fill);
	font-family:
		system-ui,
		-apple-system,
		Segoe UI,
		Roboto,
		Arial,
		sans-serif;
}

@media (prefers-color-scheme: light) {
	footer {
		filter: none;
	}
}

a {
	color: var(--key-shape-fill);
}

@media (max-width: 768px) {
	#screen {
		margin-top: 0;
	}
}
